.grid-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.grid-item-span-1{
    grid-column: span 1;
}

.grid-item-span-2{
    grid-column: span 2;

}

.route-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.route-title {
    font-size: 28px;
    font-weight: 700;
    border: 0;
}

.route-summary {
    font-size: 18px;
    font-weight: 500;
}

.route-steps {
    position: relative;
}

.route-step {
    display: flex;
    position: relative;
    margin-bottom: 30px;
}

.step-icon-container {
    position: relative;
    z-index: 2;
}

.step-icon {
    width: 48px;
    height: 48px;
    background-color: var(--nc-bg-2);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    border: 1px solid var(--nc-bg-3);
}

.step-content {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.step-instruction {
    font-size: 18px;
    font-weight: 500;
}

.step-details {
    font-size: 16px;
    text-align: right;
}

.timeline {
    position: absolute;
    top: 24px;
    left: 24px;
    width: 2px;
    height: calc(100% - 48px);
    z-index: 1;
}

/* Icons */
.icon {
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
}

.map-route-container {
    margin: 0 0 0 -200px;
    height: 500px;
    width: 1200px;
    display: flex;
}

.map {
    flex: 1;
    height: 100%;
}

.route-info {
    flex: 0 0 400px;
    margin-left: 16px;
    overflow-y: auto;
}